<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak style="width:100%;height:{{height}}px">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a ng-click="toggleSidebar()">
            Dashboard
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
            </li>
            <li class="sidebar-title"><span>NAVIGATION</span></li>
            <li class="sidebar-list">
                <a ui-sref="home.dashboard()">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="home.departments()">Departments <span class="menu-icon fa fa-table"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="home.users()">Users <span class="menu-icon fa fa-table"></span></a>
            </li>
        </ul>
    </div>
    <!-- End Sidebar -->
    <div id="content-wrapper">
        <div class="page-content">
            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <div class="user pull-right">
                        <div class="item dropdown">
                            <a>
                                <img src="styles/avatar.jpg">
                            </a>
                        </div>
                        <div class="item dropdown login-info">
                            <span>Welcome! </span>
                            <span>Venkatesh</span>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="page">
                            Dashboard
                        </div>
                        <div class="breadcrumb-links">
                            Home / Dashboard
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Bar -->
            <!-- Main Content -->
            <div ui-view name="mainContent"></div>
        </div>
        <!-- End Page Content -->
    </div>
    <!-- End Content Wrapper -->
</div>
